
@media (max-width: 1200px){
 
    .main,
    .header,
    .swiper-slide,
    .main-article-items,
    .footer__content{
    overflow-x: hidden;
    }
    .card{
        margin: 10px;
    }

    .card-1 {
        background-position: center;
    }
    .card-2 {
        background-position: top -150px right -0px;
        background-size: cover;
    }

    .card-3 {
        background-position: bottom -10px right 0px  ;
        background-size: cover;
    }

    .card-4 {
        background-size: cover;
    }

  }
@media (max-width: 1080px){
    .product-hits{
        margin:0;
        margin-left: 20px;
    }
}
@media (max-width: 1120px){
    .main-article-content{
        width: auto;
        max-width: 100%;
        margin-left: 20px;
        margin-right: 30px;

    }
}
@media (max-width: 1000px){
    .product__cart:nth-child(6){
        display: none;
   
    }
    .product-hits{
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }
    .header_logo-right{
        display: none;
    }
    .header__logo{
        margin: 0 auto;
    }


}
@media (max-width: 990px){
    .card-4 {
        background-position: top 20% right 0px;
    }
}
@media (max-width: 970px){
    .header-search input{
        width: 95%;
        margin-left: 20px;
    }
}
@media (max-width: 900px){
    .main-article-content{
        grid-template-columns: 100%;
        height: 350px;
    }
    .main-article-item{
        height: 100%;
    }
    .main-article-item:nth-child(1){
        display: none;
    }
}
@media (max-width: 850px){
    .product__cart:nth-child(5){
        display: none;
   
    }
    .product-hits{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }

}
@media (max-width: 770px){
    .header-search input{
        margin-left: 30px;
    }

}
@media (max-width: 700px){
    .product-hits{
        margin-right: 20px;
        grid-template-columns: repeat(2,1fr);
        
    }
    .menu__btn{
        left: 15px;
    }
    .main-article-content{
        height: 300px;
    }


}
@media (max-width: 650px){
    .header-search input{
        margin-left: 40px;
    }

}
@media (max-width: 560px){
    .header-search input{
        max-width: 90%;
        margin-left: 50px;
    }
    .main-article-content{
        height: 20  0px;
    }
    .card-2 {
        background-position: top -80px right -0px;
        background-size: cover;
    }

 

}
@media (max-width: 540px){
    .header-search input{
        max-width: 85%;
        margin-left: 60px;
    }
    .header__logo{
        font-size: 70px;
    }
    .card-3 {
        background-position: top 0 left 0;
    }


}
@media (max-width: 400px){
    .card-3 {
        background-position: top 0 left -60px;
    }
    .main-article-content{
        height: 200px;
    }


}
